.photo-grid {
    max-width: 1184px;
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    align-self: center;
    padding-top: 92px;
    padding-bottom: 92px;
}


@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: calc(100% - 48px * 2);
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        max-width: calc(100% - 24px * 2);
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        max-width: calc(100% - 16px * 2);
        min-height: 2724px;
        grid-template-columns: 1fr;
        gap: 12px;
    }
}