.footer__links {
  display: grid;
  grid-template-columns: 35px 66px 73px 73px 60px 1fr;
  column-gap: 18px;
}

@media screen and (max-width: 700px) {
  .footer__links {
    padding-top: 64px;
    padding-left: 16px;
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
}


