.footer__copyright {
  margin: 0;
  max-width: 186px;
  height: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  justify-self: end;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .footer__copyright {
  }
}

@media screen and (max-width: 700px) {
  .footer__copyright {
    justify-self: start;
    text-align: left;
    line-height: 14px;
    padding-top: 16px;
  }
}
