.footer {
    padding-top: 92px;
    padding-bottom: 24px;
    max-width: calc(100% - 48px * 2);
    
}



@media screen and (max-width: 1024px) {
    .footer {
        max-width: calc(100% - 48px * 2);
        padding-top: 88px;
        

    }
}


@media screen and (max-width: 768px) {
    .footer {
        max-width: calc(100% - 24px * 2);
        padding-top: 88px;
        padding-left: 24px;

    }
}

@media screen and (max-width: 500px) {
    .footer {
        padding-top: 64px;
        padding-left: 16px;
        grid-template-columns: 1fr;
        row-gap: 32px;
    }
}