.place__paragraph {
    margin: 0;
    max-width: 484px;
    min-height: 145px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    /* or 29px */


}

.place__paragraph:last-child {
    padding-top: 26px;
}

@media screen and (max-width: 950px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 163%;
    }

}

@media screen and (max-width: 320px) {
    .place__paragraph {
        padding-left: 16px;
        padding-right: 16px;

    }

}