.intro__list {
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: 100%;
    min-height: 90px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
}

@media screen and (max-width: 320px) {
    .intro__list {
        font-size: 12px;
        line-height: 18px;
    }
}